 .form1 {
     justify-content: center;
     width: 60%;
     margin-left: 300px;
 }

 body {
     background-color: skyblue;
     padding: 10px;
 }

 #title {
     color: white;
     font-size: 30;
     text-align: center;
 }

 #description {
     color: white;
     font-size: 15;
     text-align: center;
     font-family: inherit;
     font-size: inherit;
 }

 #survey-form {
     background-color: rgb(40, 55, 71);
     width: 80%;
     height: 85%;
     margin: auto;
 }

 #name-label,
 #email-label,
 #number-label {
     color: white;
     margin-left: 80px;
     font-size: 15px;
     height: 40px;
     font-family: inherit;
     font-size: inherit;
     padding: 2px;
 }

 #number,
 #email,
 #name {
     margin: 10px 10px;
     width: 70%;
     margin-left: 80px;
     height: 40px;
     font-family: inherit;
     font-size: inherit;
     border-radius: 2px;
     border: none;
     padding: 2px;
 }

 #dropdown {
     margin-left: 80px;
     width: 71%;
     height: 40px;
     font-family: inherit;
     font-size: inherit;
 }

 .area {
     margin-left: 80px;
     width: 70%;
     font-size: 15;
     margin-top: 10px;
     font-family: inherit;
     font-size: inherit;
 }

 input[type="submit" ]{
     width: 71%;
     margin-left: 80px;
     background: greenyellow;
     padding: 8px;
     font-size: 20px;
     border-radius: 2px;
     color: inherit;
     display: block;
     border: none;
 }

 .headings {
     margin-left: 80px;
     color: white;
 }